registry=https://repocentral.it.att.com:8443/nexus/repository/npm-all/
@idp:registry=https://repocentral.it.att.com:8443/nexus/repository/npm-idp/
@idse:registry=https://repocentral.it.att.com:8443/nexus/repository/npm-idp/
@sales:registry=https://repocentral.it.att.com:8443/nexus/repository/npm-idp/
email=m34814@att.com
always-auth=true
_auth="bTM0ODE0Ok1hdmVuMjAyMDQzIQ=="
proxy=http://sub.proxy.att.com:8888/
https-proxy=http://sub.proxy.att.com:8888/